
      <div class="p-5 bg-dark"></div>
    </div>
    <!-- foooter -->
    <footer class="p-1 bg-dark text-white text-center fixed-bottom my-dark">
      <div class="container d-flex justify-content-around">
        <div></div>
        <div class="container d-flex flex-row justify-content-center">
          <p class="lead">Copyright &copy; 2022 Guru's Journal</p>
        </div>
        <div>
          <a href="#">
            <i class="bi bi-arrow-up-circle h1 "></i>
          </a>
        </div>
      </div>
    </footer>
<script src="/client.js" type="application/javascript"></script>
</body>
</html>
